/Emu4all/Emu4all.xcodeproj/xcuserdata/liujun.xcuserdatad/xcschemes/emu_gba_srw.xcscheme
/Emu4all/Emu4all.xcodeproj/xcuserdata/liujun.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/Emu4all/Emu4all.xcodeproj/project.xcworkspace/xcuserdata/liujun.xcuserdatad/UserInterfaceState.xcuserstate